* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'PT Sans', sans-serif;
    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
::selection {
    background-color: #6a1b9a;
    color: white;
    font-size: 20px;
}
.contener {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1260px;
    /* border: 1px solid; */
}
@media(max-width:767px) {
    .contener {
        width: 750px;
    }
}
@media(min-width:992px) {
    .contener {
        width: 970px;
    }
}
@media(min-width:1200px) {
    .contener {
        width: 1170px;
    }
}
.btn {
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    border-radius: 6px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    animation: bord 5s 3s forwards linear;

}
@keyframes bord {
    0% {
        border: none;
    }
    100% {
        border: 1px solid white;
    }
}

.tittle {
    text-align: center;
    font-size: 50px;
    margin: 0px auto 70px;
    position: relative;
}
.tittle:hover::before {
    width: 130px;
}
.tittle::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: #6a1b9a;
    width: 80px;
    height: 3px;
    transition: 2s;
}

/*start header*/
header {
    padding: 10px;
    min-height: 80px;
   position: relative;
  
}
header .contener {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13); */
}

header .contener .logo {
    width: 30px;
    animation: ro 3 1s ease-in;
}
@keyframes ro {
    0% {
       opacity: 0;
    }
   
}
header .contener nav {
    flex: 1;
}
header .contener nav > ul {
    display: flex;
    display: flex;
    justify-content: center;
    position: relative;
}
header .contener nav > ul > li > a {
    padding: 15px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    color: #6a1b9a;
}
header .contener nav > ul > li > a:hover {
    border-left: 2px solid #6a1b9a;
    border-right: 2px solid #6a1b9a;
}
header .contener nav > ul > li > a::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #6a1b9a;
    transition: 1s 0.3s;
}
header .contener nav > ul > li > a::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    width: 0%;
    height: 2px;
    background-color: #6a1b9a;
    transition: 1s 0.3s;
}
header .contener nav > ul > li > a:hover::before,
header .contener nav > ul > li > a:hover::after{
    width: 100%;
}
header .contener nav > ul > li .mega {
    background-color: white;
   opacity: 0;
    width: 71%;
    position: absolute;
    left: 79px;
    top: 59px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    z-index: -1;
    border-bottom: 7px solid #1a237e;
    transition: all 1s;
}
header .contener nav > ul > li:hover .mega {
    opacity: 1;
    z-index: 1;
}
header .contener nav .mega .table {
    padding: 10px;
    min-width: 162px;
}
header .contener nav .mega .table h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
header .contener nav .mega .list li {
    margin-bottom: 10px;
    padding-bottom : 10px;
    font-size: 14px;
    cursor: pointer;
}
header .contener nav .mega .list li:hover {
    color: #6a1b9a;
}

header .contener nav .mega .list li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
header .contener nav .mega .table .images img {
    max-width: 100%;
}
header .contener .iconat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
header .contener .iconat i {
    padding: 15px;
    font-size: 18px;
    position: relative;
}
header .contener .iconat .shop {
    position: relative;
}
header .contener .iconat .shop::before {
    content: "0";
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #6a1b9a;
    color: white;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*end header*/
/*start landing*/
.landing .contener {
    background-color: rgba(241, 240, 238, 0.568);
    height: 500px;
    animation: background-cover linear forwards 5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
@keyframes background-cover {
    0% {
        background-color: rgba(241, 240, 238, 0.288);
    }
    100% {
        background-color: #6a1b9a;
    }
}
.landing .contener .info {
    width: 40%;
   padding: 20px 45px;
}
.landing .contener h1 {
    font-size: 70px;
    margin-bottom: 30px;
    animation: opacit  5s 3s forwards linear;
    color: black; 
    position: relative;
}
@keyframes opacit {
    0% {
        color: black; 
        
    }
    100% {
        color: white; 
        
    }
}
.landing .contener h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 0px;
    height: 3px;
    background-color: white;
    animation: line linear 2s 4s forwards;
}
@keyframes line {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
.landing .contener p {
    line-height: 1.7;
    color: #777;
    margin-bottom: 30px;
    animation: opacit  5s 3s forwards linear;
}
.landing .contener .images {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: translateX(523px);
    animation: move ease-in forwards 2s;
    opacity: 0;
}
@keyframes move {
    form {
        transform: translateX(523px);
    }
    to {
        transform: translateX(110px);
        opacity: 1;
    }
}
/*end landing*/
/*start view only*/
.view-only {
padding-top: 70px;
padding-bottom: 100px;
position: relative;
}
.view-only .contener {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-only .item-one {
  border-radius: 10px;
  position: relative;
  width: 300px;
  /* overflow: hidden; */
}

.view-only .item-one .images {
    background-image: url("../images/4.jpg");
    background-size: cover;
    height: 300px;
    animation: move-one infinite linear 5s;
}

@keyframes move-one {
    0% {
        background-image: url("../images/4.jpg");
    }
    50% {
        background-image: url("../images/images.jfif");
    }
    100% {
        background-image: url("../images/4.jpg");
    }
}
.view-only .item-one .images.two {
    background-image:url("../images/1.jpg");
    animation: move-two infinite linear 6s;
}
@keyframes move-two {
    0% {
        background-image: url("../images/1.jpg");
    }
    50% {
        background-image: url("../images/3.jpg");
    }
    100% {
        background-image: url("../images/1.jpg");
    }
}
.view-only .item-one .images.three {
    background-image: url("../images/ir3.webp");
    animation: move-three infinite linear 6s;
}
@keyframes move-three {
    0% {
        background-image: url("../images/ir3.webp");
    }
    50% {
        background-image: url("../images/ir3.webp");
    }
    100% {
        background-image: url("../images/ir.jpg");
    }
}
.view-only .item-one .images.four {
    background-image: url("../images/wach.webp");
    animation: move-four infinite linear 6s;
}
@keyframes move-four {
    0% {
        background-image: url("../images/wach.webp");
    }
    50% {
        background-image: url("../images/wach2.webp");
    }
    100% {
        background-image: url("../images/wach.webp");
    }
}
.view-only .item-one .text {
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 3s;
    color: white;
    border-radius: 6px;
}
.view-only .item-one .text h3 {
    margin-bottom: 20px;
}
.view-only .item-one .text p {
    font-size: 14px;
    margin-bottom: 10px;
}
.view-only .item-one:hover .text {
    top: 110%;
    background-color: rgba(0, 0, 0, 0.301);
}

/*end view only*/

/*start about*/
.about {
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
}
.about .contener {
    display: grid;
    grid-template-columns: 45% 25% 25%;
    grid-column-gap: 10px;
}

.about .contener .information {
    /* border: 1px solid; */
    padding: 20px;
}
.about .contener .information .apple {
    width: 70px;
    margin-bottom: 20px;
}
.about .contener .information h2 {
    margin: 0px auto 10px;
    font-size: 25px;
}
.about .contener .information span {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: brown;
    margin: 0px auto 10px;
}
.about .contener .information .link {
    margin: 0px auto 10px;
    display: block;
    font-size: 20px;
    color: cornflowerblue;
    text-decoration: underline;
}
.about .contener .information p {
    line-height: 1.7;
    color: #777;
}
.about .contener .image-one {   
    overflow: hidden;
    transition: 2s;
    opacity: 0.6;
}
.about .contener .image-one:hover,
.about .contener .image-two:hover{
    transform: scale(1.1);
    opacity: 1;
    
}
.about .contener .image-one img {
    width: 320px;
    border-radius: 6px;
    
}
.about .contener .image-two {
    overflow: hidden;
    transition: 2s;
    opacity: 0.6;
}

.about .contener .image-two img {
    width: 320px;
    border-radius: 6px;
   
}
/*end about*/
/*start video*/
.video {
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
}
.video .contener {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-auto-columns: minmax(100px,auto);
    gap: 5px 10px;
}


.video .contener .one.big {
    grid-column: 2 / 4;
    grid-row: 1/3;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}
.video .one.small-video {
    max-width: 100%;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
   position: relative;
}
.video .one.small-video .iconat {
    color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 40px;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.video .one .big-video {
    max-width: 100%;
    border-radius: 10px;
   
}
.video .one .big-pargrap {
    text-align: center;
    line-height: 2;
    border: 1px solid #ccc;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #cccccc5d;
    color: #777;
    border-top: none;
}

/*end video*/
/*start Featured Products*/
.prodects {
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
}
.prodects .contener .listing {
    margin: 20px auto 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.prodects .contener .listing li {
    display: block;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-radius: 6px;
    font-size: 16px;
    transition: 1s;
    margin-left: 10px;
    cursor: pointer;
}
.prodects .contener .listing li:active,
.prodects .contener .listing li.active
 {
    background-color: #6a1b9a;
    color: white;
}
.prodects .prodect-contener {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px 10px;
}

.prodects .prodect-contener .prodect {
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px #49464b52;
    padding: 10px;
}

.prodects .prodect-contener .prodect .images {
position: relative;
transform-style: preserve-3d;
padding: 10px;

}
.prodects .prodect-contener .prodect .images:hover .front {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    
}
.prodects .prodect .images .front {
    position: absolute;
    z-index: 1;
}

.prodects .prodect .images .front img,
.prodects .prodect .images .back img {
    width: 200px;
   
}
.prodects .prodect-contener .prodect .info {
    padding: 10px;
}
.prodects .prodect .info .star {
    margin-right: 5px;
    color: orange;
    display: block;
    margin: 0px auto 5px;
}
.prodects .prodect .info h2 {
    margin: 15px auto;
    font-size: 18px;
}
.prodects .prodect .info span {
    margin-right: 10px;
    color: #777;
}
.prodects .prodect .info span del {
    color: brown;

}

/*end Featured Products*/
/*start contact*/
.contact {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact video {
    max-width: 100%;
}
.contact .wallpaper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    opacity: 0.4;
    transition: 2s;
}
.contact .wallpaper:hover {
    opacity: 1;
}
.contact .wallpaper h4 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.contact .wallpaper input {
    display: block;
    margin: 10px auto; 
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid #ccc;
    position: relative;
    transition: 2s;
    border-radius: 6px;
    width: 100%; 
    font-size: 10px;
}
.contact .wallpaper input:focus-within  {
    outline: none;
    background-color: #cccccc56;
    color: #6a1b9a;
    font-size: 14px;
}
.contact .wallpaper .create {
    /* margin: 10px auto; */
    color: #538ed4;
    display: block;
    text-align: center;
}
.contact .wallpaper .btn {
    margin: 10px auto;
    cursor: pointer;
    font-size: 14px;
}
/*end contact*/

/*start view-ipad*/
.view-ipad {
    padding-top: 70px;
    padding-bottom: 50px;
}

.view-ipad .contener {
    display: flex;
    justify-content: space-between;
}

.view-ipad .text {
flex: 1;
}
.view-ipad .view {
    flex-basis: 30%;
}
.view-ipad .text h2 {
    font-size: 60px;
    margin-bottom: 10px;
}
.view-ipad .text p {
    color: #777;
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7;
    margin-bottom: 30px;
}
.view-ipad .progress {
    margin-bottom: 30px;
   
}
.view-ipad .progress h3 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}
.view-ipad .progress .prog {
    background-color: rgba(128, 128, 128, 0.226);
    width: 70%;
    height: 30px;
    border-radius: 4px;
}
.view-ipad .progress .prog span {
    opacity: 0;
    transition: 2s;
}
.view-ipad .progress .prog span.ping {
    height: 100%;
    display: block;
    position: relative;
   
}
@keyframes moving {
    0% {
        width:1%;
    }
    100% {
        width:90%;
    }
}
.view-ipad .progress .prog span.yellow {
    height: 100%;
    display: block;
    position: relative;
    /* animation: moving-yellow 5s 1 ease-in forwards; */
}
@keyframes moving-yellow {
    0% {
        width:1%;
    }
    100% {
        width:70%;
    }
}
.view-ipad .progress .prog span.blue {
    height: 100%;
    display: block;
    position: relative;
    /* animation: moving-blue 5s 1 ease-in forwards; */
}
@keyframes moving-blue {
    0% {
        width:1%;
    }
    100% {
        width:50%;
    }
}
.view-ipad .progress .prog span::before {
    content: attr(data-pro);
    position: absolute;
    right: -20px;
    top: -30px;
    padding: 3px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
}
.view-ipad .progress .prog span.yellow::before {
    background-color: #d8b541;
}
.view-ipad .progress .prog span.ping::before {
    background-color: #c34294;
}
.view-ipad .progress .prog span.blue::before {
    background-color: #538ed4;
}
.view-ipad .progress .prog span.yellow {
    background-color: #d8b541;
}
.view-ipad .progress .prog span.ping {
    background-color: #c34294;
}
.view-ipad .progress .prog span.blue {
    background-color: #538ed4;
}
.view-ipad:hover .progress .prog span.ping {
    opacity: 1;
    animation: moving 5s 1 2s ease-in forwards;
}
.view-ipad:hover .progress .prog span.blue {
    opacity: 1;
    animation: moving-blue 5s 1 2s ease-in forwards;
}
.view-ipad:hover .progress .prog span.yellow {
    opacity: 1;
    animation: moving-yellow 5s 1 2s ease-in forwards;
}
/*end view-ipad*/
/*start slider*/
.slider {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
       overflow: hidden; 
}
.slider .contener {
    display: grid;
    grid-template-columns: repeat(5,20%);
    gap: 10px;
    text-align: center;
    transform: translateX(1032px);
    /* overflow: hidden; */
    
}
.slider:hover .contener {
    animation: translete 7s 1 ease-in forwards;
}
@keyframes translete {
    0% {
        transform: translateX(1032px);
        overflow: hidden;
    }
   
    100% {
        transform: translateX(0px);
        overflow: hidden;
    }
}
.slider .contener .card {
    background-color: white;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 9px 0px #817c7c82;
}

.slider .contener .card .icons  {
   overflow: hidden;
}
.slider .contener .card .icons i {
    display: block;
    font-size: 30px;
    transform: translateY(41px);
    transition: 1s;
}
.slider .contener .card .icons i.top {
    padding-bottom: 20px;
    opacity: 0.4;
}
.slider .contener .card .icons i.bottom {
    padding-top: 20px;
    color: #6a1b9a;
    
}
.slider .contener .card:hover .icons i {
    transform: translateY(-48px);
}

.slider .contener .card .text {
    margin: -11px auto 14px;
}
.slider .contener .card .text h4 {
    margin: 0px auto 10px;
    font-size: 20px;
}
.slider .contener .card .text p {
    color: #777;
}
/*end slider*/
/*start footer*/
footer {
    padding-top: 50px;
    background-color: black;
    color: white;
}
footer .contener {
   display: flex;
   justify-content: space-between;
}


footer:-webkit-any(.logo,.socal,.lists,.form) h2 {
    font-size: 30px;
    padding: 20px;
}
footer .logo img {
    width: 80px;
    margin-top: 30px;
    cursor: pointer;
}
footer .socal .icon {
    margin-top: 20px;
}
footer .socal .icon i {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
footer .lists h2 {
    margin-bottom: 20px;
}
footer .lists > ul {
    margin-top: 30px;
}
footer .lists > ul > li {
   padding-bottom: 10px;
   margin-bottom: 15px;
   text-align: left;
   font-size: 20px;
   position: relative;
   cursor: pointer;
}
footer .lists > ul > li:not(:last-child)::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: #777;
   height: 2px;
   width: 240px;
}
footer .form .input {
display: flex;
margin-top: 50px;
}
footer .form input {
    padding: 15px;
    /* border-radius: 6px; */
    border: none;
}
footer .form input[type="search"] {
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
footer .form input[type="submit"] {
    border-left: none;
    background-color: #6a1b9a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
footer .copy-right {
    padding: 20px;
    text-align: center;
    border: 1px solid #cccccc33;
    margin-top: 20px;
    font-size: 18px;
}
footer .copy-right span {
    color: #6a1b9a;
}
/*end footer*/
